.root {
}

.fieldsContainer {
  display: flex;
  gap: 1rem;
}

.fieldsContainerElement {
  width: 50%;

  & > * + * {
    margin-top: 1rem;
  }
}

.info {
  font-size: var(--fs-small);
  margin-top: 1rem;
}
