.root {
  padding: var(--space-grid);
  background-color: var(--c-bkg-light);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.answer {
  margin-top: var(--space-grid);
  padding: var(--space-grid);
  background-color: var(--c-bkg);
  border-radius: 0.7rem;
}

.footer {
  margin-top: var(--space-grid-half);
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-xsmall);
}

.copy {
}

.stats {
  p + p,
  p + button {
    margin-top: 0.5em;
  }
}

.benchmarkTests {
  color: var(--c-p);
  cursor: pointer;
  margin-top: 1rem;
  font-size: var(--fs-xsmall);
  align-self: flex-end;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.benchmarkTestsModal {
  p + p {
    margin-top: 0.5em;
  }

  .benchmarkTestsModalButton {
    margin-top: 1rem;
  }
}
