.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.header {
}

.titleIcon {
  color: var(--c-blue);
  margin-right: 0.5em;
}

.titleText {
}

.claim {
  color: var(--c-p-light);
  font-family: var(--font-mono);
  text-align: center;
}

.wrapper {
  padding: var(--space-grid);
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: var(--space-grid-big);
}

.modelSettings {
  margin-top: var(--space-grid-big);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-grid);
}

.modelSettingsButton {
  font-family: var(--font-mono);
  font-size: var(--fs-small);
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.modelSettingsButtonRobot {
  transform: scale(1.4) translateX(-20%);
}

.modelSettingsButtonUnfold {
  opacity: 0.5;
}

.footer {
  font-size: var(--fs-xsmall);
  text-align: center;
  padding-top: var(--space-grid);
  margin-top: auto;

  p + p {
    margin-top: 0.5em;
  }
}
